@{
    ViewData["Title"] = "Add Vehicle";
}

<h2 class="page-title">Add New Vehicle</h2>

<div class="aios-card fade-in">

    <div class="row g-3">

        <div class="col-md-6">
            <label>Make</label>
            <input class="aios-input" />
        </div>

        <div class="col-md-6">
            <label>Model</label>
            <input class="aios-input" />
        </div>

        <div class="col-md-6">
            <label>Year</label>
            <input class="aios-input" type="number" />
        </div>

        <div class="col-md-6">
            <label>VIN</label>
            <input class="aios-input" />
        </div>

        <div class="col-md-6">
            <label>Price</label>
            <input class="aios-input" type="number" />
        </div>

        <div class="col-12 mt-3">
            <button class="btn-aios">Save</button>
            <a href="/Inventory" class="btn-aios-secondary">Cancel</a>
        </div>

    </div>

</div>
